.header {
    position: relative;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.nav {
    display: flex;
    flex-direction: row;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.text {
    color: #F2F2F3;
    margin-left: 8px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
}