.app {
  margin: 0 auto;
  max-width: 1280px;
}

.sections {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #8585ad;
  border: 2px solid #2f2f37;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  width: 8px;
  background: #2f2f37;
}
